.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}


@media only screen and (max-width: 387px) {
    .create-account-btn{
        display: block;
    }
}
@media only screen and (max-width: 394px) {
    .buy-now-btn, .add-to-cart-btn{
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
}